<div class="card">
  <div class="row">
    <div class="col-md-6">
      <h4 align="center">Experience Snapshot</h4>
    </div>
  </div>
  <hr>

  <form name="employmentForm" role="form" novalidate>

    <div class="form-group row">
      <div class="col-md-12">
        <fieldset>
          <legend>Project Title</legend>
          <input type="text" class="form-control input-control" id="projectTitle" name="projectTitle" placeholder="Enter project title">
        </fieldset>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <fieldset>
          <legend>Worked From</legend>
          <input type="date" class="form-control date-control" id="workedFrom" name="workedFrom">
        </fieldset>
      </div>

      <div class="col-md-6">
        <fieldset>
          <legend>To</legend>
          <input type="date" class="form-control date-control" id="workedTo" name="workedTo">
        </fieldset>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <div class="col-md-12">
        <fieldset>
          <legend>Project Description</legend>
          <textarea class="text-area-control" name="projectDescription" id="projectDescription" placeholder="Please enter project description..." rows="2" cols="60"></textarea>
        </fieldset>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <div class="col-md-2 col-md-offset-8" style="padding-right: 0em;">
        <button type="button" class="btn btn-block btn-primary">Save</button>
      </div>
      <div class="col-md-2" style="padding-left: 0.1em;">
        <button type="button" class="btn btn-block btn-secondary">Cancel</button>
      </div>
    </div>
  </form>
</div>
