<share-button [theme]="'circles-dark'"
              [button]="'facebook'"
              [title]="title"
              [url]="url"
              [autoSetMeta]="false"
              style="color: #3b5998;"
></share-button>

<share-button [theme]="'circles-dark'"
              [button]="'google'"
              [title]="title"
              [url]="url"
              [autoSetMeta]="false"
              style="color: #dd4b39;"
></share-button>

<share-button [theme]="'circles-dark'"
              [button]="'twitter'"
              [title]="title"
              [url]="url"
              [autoSetMeta]="false"
              style="color: #00aced;"
></share-button>

<share-button [theme]="'circles-dark'"
              [button]="'linkedin'"
              [title]="title"
              [url]="url"
              [autoSetMeta]="false"
              style="color: #007bb6;"
></share-button>

<share-button [theme]="'circles-dark'"
              [button]="'whatsapp'"
              [title]="title"
              [url]="url"
              [autoSetMeta]="false"
              style="color: #5cb85c;"
></share-button>
<!--
<share-button class="facebook" [button]="facebookButton" title="title" [title]="title" [url]="url"></share-button>

<share-button class="google" [button]="googleButton" title="title" [title]="title" [url]="url"></share-button>

<share-button class="twitter" [button]="twitterButton" title="title" [title]="title" [url]="url"></share-button>

<share-button class="linkedin" [button]="linkedinButton" title="title" [title]="title" [url]="url"></share-button>

<share-button class="whatsapp" [button]="whatsappButton" title="title" [title]="title" [url]="url"></share-button>-->

