<!--question solo question-view-->
<div class="card">
  <div class="card-header">
    <h4>{{question.title}}</h4>
  </div>

  <div class="card-block">
    <div [innerHTML]="question.content | safeHtml"></div>

    <!--Google's Adsense-->
    <app-google-adsense></app-google-adsense>

    <div class="card">
      <div style="background-color: #007db8;">
        <div class="card-block">
          <div id="left-side">
            <h6 class="tech-profile-tag">asked {{question.publishedOn | fromNow }}</h6>
            <app-profile-small-icon [user]="question.askedBy"></app-profile-small-icon>
          </div>
          <div id="question-crud-option" *ngIf="getCurrentUser() === currentUserId">
            <a (click)="modalConfirm.show()" title="Delete this question"><i class="fa fa-trash pull-right" aria-hidden="true"></i></a>
            <a [routerLink]="[question._id]" title="Edit this question"><i class="fa fa-pencil pull-right" aria-hidden="true"></i></a>
          </div>
          <div *ngIf="getCurrentUser() !== currentUserId" style="margin-top: -6em;">
            <a href="#" title="Follow"><i class="fa fa-user-plus pull-right" style="color: white;" aria-hidden="true"></i></a>
          </div>
          <div id="profile">
            <h5>{{getUserName(question.askedBy)}}</h5>
            <h6 class="tech-profile-tag">{{showSkillsHashTag(question.tags)}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="tech-inline-share-box">
    <strong>may be someone can have better answer of this question?</strong><br>
    <app-share
      [url]="'https://www.tecknocracy.com/#/question/'+question._id"
      [title]="question.title"
    >
    </app-share>
  </div>

  <!--Like and Comments section-->
  <div class="card-footer">
    <span class="tech-inline-like-comment-box">
        <button type="button" class="btn tech-like-comment-btn" title="Like this question" (click)="isUserLoggedIn('') > 0 ? like(question._id): showLoginSignup()">
            <i class="fa fa-thumbs-up fa-1x" style="color: #025aa5;"></i> Like
        </button>
        <button type="button" class="btn tech-like-comment-btn" title="Comment on this question" (click)="isUserLoggedIn('') > 0 ? modalCommentEditor.show(): showLoginSignup();clearErrorMessage()">
            <i class="fa fa-commenting fa-1x" style="color: #025aa5;"></i> Comment
        </button>
        <button type="button" class="btn tech-like-comment-btn" title="Vote up on this question" (click)="isUserLoggedIn('') > 0 ? voteUp(question._id): showLoginSignup()">
            <i class="fa fa-chevron-up fa-1x" style="color: #025aa5;"></i> {{totalVoteUp}}
        </button>
        <button type="button" class="btn tech-like-comment-btn" title="Vote down on this question" (click)="isUserLoggedIn('') > 0 ? voteDown(question._id): showLoginSignup()">
            <i class="fa fa-chevron-down fa-1x" style="color: #025aa5;" ></i> {{totalVoteDown}}
        </button>
    </span>

    <div class="pull-right" style="margin-top: 5px;margin-right: 10px;">
      <span style="color: #025aa5;font-size: 13px;" *ngIf="totalLikes > 0">{{totalLikes}} likes</span>
      <span style="color: #025aa5;font-size: 13px;" *ngIf="totalComments > 0">{{totalComments}} comments</span>
    </div>
  </div>

  <!--Question comment section-->
  <div class="container" *ngIf="comments.length > 0">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card comments-box">
          <ul id="comments-list" class="comments-list">
            <li>
              <div class="comment-main-level" *ngFor="let comment of comments">
                <!--user icon-->
                <app-comment-icon [user]="comment.commentedBy"></app-comment-icon>
                <!--iterating commentList -->
                <div class="comment-box">

                  <div class="comment-head">
                    <h6 *ngIf="getUserName(question.askedBy) == getUserName(comment.commentedBy)" class="comment-name by-querent"><a href="#">{{getUserName(comment.commentedBy)}}</a></h6>
                    <h6 *ngIf="getUserName(question.askedBy) != getUserName(comment.commentedBy)" class="comment-name"><a href="#">{{getUserName(comment.commentedBy)}}</a></h6>
                    <span>commented {{comment.commentedOn | fromNow }}</span>

                    <div class="comment-like-btn-group">
                      <button type="button" class="btn btn-link" style="margin-right: -20px;"
                              (click)="isUserLoggedIn(comment._id) > 0 ? modalCommentEditor.show(): showLoginSignup();clearErrorMessage()">
                        <i class="fa fa-reply" style="color: #025aa5;" title="Replay to this comment"></i>
                      </button>

                      <button type="button" class="btn btn-link" style="padding-left: 0px;padding-bottom: 0px; padding-top: 0px;"
                              (click)="isUserLoggedIn(comment._id) > 0 ? likeComment(question._id,comment._id): showLoginSignup()">
                        <i id="{{comment._id}}" class="fa fa-heart" style="color: #025aa5;" title="Like this comment">&nbsp;{{comment.likes.length}}</i>
                      </button>

                      <div *ngIf="getCurrentUser().length > 0">
                        <div id="question-comment-crud-option" *ngIf="getCurrentUser() === getCurrentUserId(comment.commentedBy)" style="margin-bottom: -1.25em;">
                          <a (click)="modalCommentConfirm.show()" title="Delete your comment"><i class="fa fa-trash pull-right" aria-hidden="true" style="color: #007db8;"></i></a>
                          <a (click)="modalUpdateCommentEditor.show();getCommentReplyContentToUpdate(comment, 'comment');" title="Edit your comment"><i class="fa fa-pencil pull-right" aria-hidden="true" style="color: #007db8;"></i></a>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="comment-content" [innerHTML]="comment.content | safeHtml"></div>

                  <!--Comment delete confirm dialog box-->
                  <app-confirm-modal #modalCommentConfirm>
                    <div class="app-modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalCommentConfirm.hide()"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" style="color: #007db8;">Comment Deletion</h4>
                    </div>

                    <div class="app-modal-body">
                      <h5 style="color: #007db8;">Are you sure want to delete your comment?</h5>
                    </div>

                    <div class="app-modal-footer">
                      <button type="button" class="btn btn-default" (click)="deleteCommentAndReply(comment._id,'comment')" style="color: #007db8;">Yes</button>
                      <button type="button" class="btn btn-primary" (click)="modalCommentConfirm.hide()">No</button>
                    </div>
                  </app-confirm-modal>
                </div>

                <!--iterating reply of comments-->
                <ul class="comments-list reply-list">
                  <li *ngFor="let reply of comment.replies">
                    <!--user icon-->
                    <!--<span class="rounded-circle" style="float: left;"><i class="fa fa-user-circle fa-2x" style="padding: 1px 0px 0px 0px;margin-left: -16px;"></i></span>-->
                    <app-reply-icon [user]="reply.repliedBy"></app-reply-icon>
                    <div class="comment-box">

                      <div class="comment-head">
                        <h6 *ngIf="getUserName(question.askedBy) == getUserName(reply.repliedBy)" class="comment-name by-querent"><a href="#">{{getUserName(reply.repliedBy)}}</a></h6>
                        <h6 *ngIf="getUserName(question.askedBy) != getUserName(reply.repliedBy)" class="comment-name"><a href="#">{{getUserName(reply.repliedBy)}}</a></h6>
                        <span>replied {{reply.repliedOn | fromNow }}</span>

                        <div class="reply-like-btn-group">
                          <button type="button" class="btn btn-link" style="padding-left: 0px;padding-bottom: 0px; padding-top: 0px;"
                                  (click)="isUserLoggedIn(comment._id) > 0 ? likeReply(question._id,comment._id, reply._id): showLoginSignup()">
                            <i id="{{reply._id}}" class="fa fa-heart" style="color: #025aa5;" title="Like this reply">&nbsp;{{reply.likes.length}}</i>
                          </button>

                          <div *ngIf="getCurrentUser().length > 0">
                            <div id="question-reply-crud-option" *ngIf="getCurrentUser() === getCurrentUserId(reply.repliedBy)" style="margin-top: -1em;">
                              <a (click)="modalReplyConfirm.show()" title="Delete your reply"><i class="fa fa-trash pull-right" aria-hidden="true" style="color: #007db8;"></i></a>
                              <a (click)="modalUpdateCommentEditor.show();getCommentReplyContentToUpdate(reply, 'reply');" title="Edit your reply"><i class="fa fa-pencil pull-right" aria-hidden="true" style="color: #007db8;"></i></a>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="comment-content" [innerHTML]="reply.content | safeHtml"></div>

                      <!--Reply delete confirm dialog box-->
                      <app-confirm-modal #modalReplyConfirm>
                        <div class="app-modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalReplyConfirm.hide()"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" style="color: #007db8;">Reply Deletion</h4>
                        </div>

                        <div class="app-modal-body">
                          <h5 style="color: #007db8;">Are you sure want to delete your reply?</h5>
                        </div>

                        <div class="app-modal-footer">
                          <button type="button" class="btn btn-default" (click)="deleteCommentAndReply(reply._id, 'reply')" style="color: #007db8;">Yes</button>
                          <button type="button" class="btn btn-primary" (click)="modalReplyConfirm.hide()">No</button>
                        </div>
                      </app-confirm-modal>

                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--Question delete confirm dialog box-->
  <app-confirm-modal #modalConfirm>
    <div class="app-modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalConfirm.hide()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel" style="color: #007db8;">Deletion Confirmation</h4>
    </div>

    <div class="app-modal-body">
      <h5 style="color: #007db8;">Are you sure want to delete this question?</h5>
    </div>

    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="deleteCommentAndReply(question._id,'question')" id="modal-btn-si" style="color: #007db8;">Yes</button>
      <button type="button" class="btn btn-primary" id="modal-btn-no" (click)="modalConfirm.hide()">No</button>
    </div>
  </app-confirm-modal>

  <!--Comment Editor dialog box-->
  <app-editor-modal #modalCommentEditor>
    <div class="app-modal-header">
      <h4 class="text-center" style="margin-bottom: 0em;"><i class="fa fa-pencil-square-o"></i> Write Comment</h4>
    </div>

    <div class="app-modal-body">

      <div *ngIf="errorMessage != ''">
        <div class="alert alert-danger">
          {{errorMessage}}
        </div>
      </div>

      <form class="form-horizontal" name="commentForm" novalidate>
        <div class="form-group">
          <div class="col-sm-12 col-md-12">
            <div class="card tech-comment-editor-box">
              <app-tinymce-editor [elementId]="'my-editor'" [type]="'question-comment'" (onEditorContentChange)="commentKeyupHandler($event)"></app-tinymce-editor>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12 col-md-12">
            <input type="checkbox" name="sendNotification" [(ngModel)]="notification" style="margin-left: 0.25em;"/>Send me notification when anyone comments
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-md-6">
            <div class="g-recaptcha" style="margin-left: 0.3em;transform:scale(0.81);-webkit-transform:scale(0.81);transform-origin:0 0;-webkit-transform-origin:0 0;">
              <re-captcha (resolved)="resolved($event)"></re-captcha>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <button type="button" id="question-re-captcha-comment" disabled class="btn btn-primary tech-add-comment-button" (click)="addCommentReply(question._id,notification)">Add comment</button>
          </div>
        </div>

      </form>
    </div>
  </app-editor-modal>
</div>

<!--Update Comment Editor dialog box-->
<app-editor-modal #modalUpdateCommentEditor>
  <div class="app-modal-header">
    <h4 class="text-center" style="margin-bottom: 0em;"><i class="fa fa-pencil-square-o"></i> Edit Comment</h4>
  </div>

  <div class="app-modal-body">

    <div *ngIf="errorMessage != ''">
      <div class="alert alert-danger">
        {{errorMessage}}
      </div>
    </div>

    <form class="form-horizontal" name="commentForm" novalidate>
      <div class="form-group" style="margin-bottom: 0em;">
        <div class="col-sm-12 col-md-12">
          <div class="card tech-comment-editor-box">
            <textarea id="comment-update-editor" autofocus="autofocus">{{contentToUpdate}}</textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-6 col-md-6" style="margin-bottom: 15px;">
          <button type="button" class="btn btn-primary tech-add-comment-button" (click)="editCommentReply();modalUpdateCommentEditor.hide();">Edit comment</button>
        </div>
      </div>

    </form>
  </div>
</app-editor-modal>

