<!--question form question-view-->
<div class="card">
  <div class="card-header" style="color: #007db8;">Write Blog</div>
  <div id="blog-editor" class="container-fluid" style="padding-top: 10px;">
    <div class="row">

      <div class="col-md-12" *ngIf="successMessage !== ''">
        <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{successMessage}}
        </div>
      </div>

      <div class="col-md-12" *ngIf="errorMessage != ''">
        <div class="alert alert-danger">
          {{ errorMessage }}
        </div>
      </div>

    </div>

    <form class="form-horizontal" #captchaProtectedForm="ngForm" name="questionForm" novalidate>
      <div class="form-group">
        <div class="col-sm-12 col-md-12">
          <div class="input-group">
            <div class="input-group-addon">Title:</div>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="blogModel.title" placeholder="specify your blog's title here...">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12 col-md-12">
          <app-tinymce-editor [elementId]="'b-editor'" [type]="'new-update-blog'" [editorValue]="blogModel.content" (onEditorContentChange)="questionKeyupHandler($event)"></app-tinymce-editor>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12 col-md-12">
          <div class="input-group">
            <div class="input-group-addon">Tags:</div>
            <input type="text" class="form-control" id="tags" name="tag" [(ngModel)]="blogModel.tag" placeholder="specify at least one tag such as java, python and scala etc..">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-md-9">
          <div>
            <div class="g-recaptcha" style="transform:scale(0.81);-webkit-transform:scale(0.81);transform-origin:0 0;-webkit-transform-origin:0 0;">
              <re-captcha (resolved)="resolved($event)"></re-captcha>
            </div>
            <button type="button" class="btn btn-primary" id="re-captcha-post-blog" disabled (click)="postBlog(blogModel)">Post Your Blog</button>
            <button type="button" class="btn btn-primary" id="re-captcha-draft-blog" disabled (click)="draftBlog(blogModel)">Save as Draft</button>
            <button type="button" class="btn btn-primary" id="re-captcha-discard-blog" disabled (click)="discardBlog(blogModel)">Discard</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

