
<share-button class="facebook" [button]="facebookButton" title="title" [title]="title" [url]="url"></share-button>

<share-button class="google" [button]="googleButton" title="title" [title]="title" [url]="url"></share-button>

<share-button class="twitter" [button]="twitterButton" title="title" [title]="title" [url]="url"></share-button>

<share-button class="linkedin" [button]="linkedinButton" title="title" [title]="title" [url]="url"></share-button>

<share-button class="whatsapp" [button]="whatsappButton" title="title" [title]="title" [url]="url"></share-button>

