<div class="card">
  <div class="row">
    <div class="col-md-6">
      <h4 align="center">Skills Snapshot</h4>
    </div>
  </div>
  <hr>

  <form name="employmentForm" role="form" novalidate>

    <div class="form-group row">
      <div class="col-md-6">
        <fieldset>
          <legend>Skill Set</legend>
          <select class="form-control select-control" id="skillSet" name="skillSet">
            <option value="">Select skill set</option>
            <option value="IT/Computer Software">IT/Computer Software</option>
            <option value="IT/Computer Hardware">IT/Computer Hardware</option>
          </select>
        </fieldset>
      </div>

      <div class="col-md-6">
        <fieldset>
          <legend>Experience</legend>
          <select class="form-control select-control" id="experience" name="experience">
            <option value="">Select experience</option>
            <option value="Software Programmer">Software Programmer</option>
            <option value="Software Support">Software Support</option>
          </select>
        </fieldset>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <fieldset>
          <legend>Last Used</legend>
          <input type="date" class="form-control date-control" id="lastUsed" name="lastUsed">
        </fieldset>
      </div>

      <div class="col-md-6">
        <fieldset>
          <legend>Experience Level</legend>
          <select class="form-control select-control" id="experienceLevel" name="experienceLevel">
            <option value="">Select experience level</option>
            <option value="Software Programmer">Software Programmer</option>
            <option value="Software Support">Software Support</option>
          </select>
        </fieldset>
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <div class="col-md-2 col-md-offset-8" style="padding-right: 0em;">
        <button type="button" class="btn btn-block btn-primary">Save</button>
      </div>
      <div class="col-md-2" style="padding-left: 0.1em;">
        <button type="button" class="btn btn-block btn-secondary">Cancel</button>
      </div>
    </div>
  </form>
</div>
