<div class="card">
  <div class="row">
    <div class="col-md-6">
      <h4 align="center">Skills Snapshot</h4>
    </div>
  </div>
  <hr>

  <form name="employmentForm" role="form" novalidate>

    <div class="form-group row">
      <div class="col-md-3">
        <fieldset>
          <legend>Highest Qualification</legend>
          <select class="form-control select-control" id="highestQualification" name="highestQualification">
            <option value="">Select qualification</option>
            <option value="IT/Computer Software">IT/Computer Software</option>
            <option value="IT/Computer Hardware">IT/Computer Hardware</option>
          </select>
        </fieldset>
      </div>
      <div class="col-md-3">
        <fieldset>
          <legend>Passing Year</legend>
          <select class="form-control select-control" id="passingYear" name="passingYear">
            <option value="">Select passing year</option>
            <option value="Software Programmer">Software Programmer</option>
            <option value="Software Support">Software Support</option>
          </select>
        </fieldset>
      </div>
      <div class="col-md-3">
        <fieldset>
          <legend>Institute/University</legend>
          <select class="form-control select-control" id="institute" name="institute">
            <option value="">Select</option>
            <option value="Software Programmer">Software Programmer</option>
            <option value="Software Support">Software Support</option>
          </select>
        </fieldset>
      </div>
      <div class="col-md-3">
        <fieldset>
          <legend>Specialization</legend>
          <select class="form-control select-control" id="specialization" name="specialization">
            <option value="">Select</option>
            <option value="IT/Computer Software">IT/Computer Software</option>
            <option value="IT/Computer Hardware">IT/Computer Hardware</option>
          </select>
        </fieldset>
      </div>

    </div>

    <div class="form-group row">

      <div class="col-md-3">
        <fieldset>
          <legend>Second H. Qualification</legend>
          <select class="form-control select-control" id="secondHighestQualification" name="secondHighestQualification">
            <option value="">Select qualification</option>
            <option value="IT/Computer Software">IT/Computer Software</option>
            <option value="IT/Computer Hardware">IT/Computer Hardware</option>
          </select>
        </fieldset>
      </div>
      <div class="col-md-3">
        <fieldset>
          <legend>Passing Year</legend>
          <select class="form-control select-control" id="secondPassingYear" name="secondPassingYear">
            <option value="">Select passing year</option>
            <option value="Software Programmer">Software Programmer</option>
            <option value="Software Support">Software Support</option>
          </select>
        </fieldset>
      </div>
      <div class="col-md-3">
        <fieldset>
          <legend>Institute/University</legend>
          <select class="form-control select-control" id="secondInstitute" name="secondInstitute">
            <option value="">Select</option>
            <option value="IT/Computer Software">IT/Computer Software</option>
            <option value="IT/Computer Hardware">IT/Computer Hardware</option>
          </select>
        </fieldset>
      </div>
      <div class="col-md-3">
        <fieldset>
          <legend>Specialization</legend>
          <select class="form-control select-control" id="secondSpecialization" name="secondSpecialization">
            <option value="">Select</option>
            <option value="IT/Computer Software">IT/Computer Software</option>
            <option value="IT/Computer Hardware">IT/Computer Hardware</option>
          </select>
        </fieldset>
      </div>

    </div>

    <hr>

    <div class="form-group row">
      <div class="col-md-6">
        <fieldset>
          <legend>Certification Name</legend>
          <input type="text" class="form-control input-control" id="certificationName" name="certificationName" placeholder="Certificate Name">
        </fieldset>
      </div>

      <div class="col-md-6">
        <fieldset>
          <legend>Issued by</legend>
          <input type="text" class="form-control input-control" id="issuedBy" name="issuedBy" placeholder="Issued by">
        </fieldset>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <fieldset>
          <legend>Validity</legend>
          <input type="date" class="form-control date-control" id="validity" name="validity">
        </fieldset>
      </div>

      <div class="col-md-6 check-box-label">
        <input type="checkbox" id="lifeTimeValidity" name="lifeTimeValidity">Lifetime Validity
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <div class="col-md-2 col-md-offset-8" style="padding-right: 0em;">
        <button type="button" class="btn btn-block btn-primary">Save</button>
      </div>
      <div class="col-md-2" style="padding-left: 0.1em;">
        <button type="button" class="btn btn-block btn-secondary">Cancel</button>
      </div>
    </div>
  </form>
</div>
